textarea{
    width: 75%;
    height:220px;
    background-color:#E2E2E2 ;
    border-radius: 25px;
    margin-top: 10px;
    margin-bottom: 30px;
  
    border:none;
    outline: none;
    resize:none;
    padding: 2.5%;
    font-size: 1.5em;
  }
  .translationText::placeholder{
    font-family: "Noto Sans KR", sans-serif;
    font-size: 0.8em;
  }