.transSubmit{
    border: 2.5px solid #2E81E2;
    width: 170px;
    height: 60px;
    border-radius: 25px;
    position: relative;
    left:46%;
    display: block;
    background-color: #ffffff;
  }
.transSubmit a{
    display: block;
    color:#2E81E2;
    font-size: 1.6em;
    font-family: "Noto Sans KR", sans-serif;
    margin-top: 10px;
    text-decoration-line: none;
  }