.finish{
    border: 2.5px solid #FE5454;
    width: 170px;
    height: 60px;
    border-radius: 25px;
    position: relative;
    left:40%;
    display: block;
    background-color: #ffffff;
    margin-top: 30px;
    float: left;
  }
.finish a{
    display: block;
    color:#FE5454;
    font-size: 1.6em;
    font-family: "Noto Sans KR", sans-serif;
    margin-top: 10px;
    text-decoration-line: none;
  }